html {
    width: 1024px;
    padding: 30px;
}

header{
    overflow: hidden;
    margin: 1em auto;
}

#businessCard{
    display: inline-block;
    float: left;
    width: 200px;
    margin: 30px;
}
#businessCard>img{
    float: left;
}
.icons {
    display: inline-block;
    height: 50px;
}
li{
    display: inline-block;
}

#rssMail{
    float: right;
    
}

#social{
    float: right;
}

#chocopizza {
    width: 1024px;
}

form {
    background-image: url(/Images/list-bg.png);
    height: 275px;
    padding:10px; 
}