html {
    width: 1024px;
    padding: 30px;
}

header{
    overflow: hidden;
    margin: 1em auto;
}

#businessCard{
    font-family: 'Economica', sans-serif;
    font-size: 15px;
    /* font-family: 'Khand', sans-serif; */
    /* float: left; */
    width: auto;
    height: auto;
}
#Delicious{
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
}

#businessCard>img{
    float: left;
    height: 50px;
    width: 50px;
}
.icons {
    display: inline-block;
    height: 50px;
}
li{
    display: inline-block;
}

#rssMail{
    float: right;
    padding-left: 8px

    
}


#social{
    float: right;

}

#chocopizza {
    width: 1024px;
}
form{
    display: inline-block;
}
input{
    display: block;
}